{% extends "base_index.html" %}

{% block title %}Listagem de Produtos{% endblock %}

{% block content %}
<section id="read" class="container">
    <h2>Lista de Produtos</h2>

    <p><strong>Total de Produtos:</strong> {{produtos_total}}</p>
    <p><strong>Atualizado às</strong> {{now}}</p>
    <p><strong>Cache:</strong> {{cache}}</p>
    <table role="grid" class="table striped hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Estoque</th>
                <th>Preço</th>
                <th>Data de Criação</th>
                <th>Última Atualização</th>
                <th>Loja</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in page_obj %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.estoque }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>{{ produto.criado_em|date:"d/m/Y H:i" }}</td>
                <td>{{ produto.atualizado_em|date:"d/m/Y H:i" }}</td>
                <td>{{ produto.loja.nome }}</td>
                <td>
                    <a href="{% url 'update-produto' produto.id %}" role="button" class="contrast outline small">Editar</a>
                    <a href="{% url 'delete-produto' produto.id %}" role="button" class="contrast small">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Barra de Paginação -->
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">Primeira</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% else %}
            <li class="disabled">Primeira</li>
            <li class="disabled">Anterior</li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="active">{{ num }}</li>
                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
            {% else %}
            <li class="disabled">Próxima</li>
            <li class="disabled">Última</li>
            {% endif %}
        </ul>
    </nav>

    <a href="{% url 'create-produto' %}" role="button" class="contrast">Cadastrar Produto</a>
</section>
{% endblock %}
